<head>
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/blog.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
         function func(counter) {
             $("#" + counter).toggle();
         }
    </script>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
          Home
      </a>
    </div>
  </div>
</nav>
<div class="panel panel-info">
          <div class="panel-heading">
              <h1>Blog <small style="float: right;">Author: {{ blog.username }}</small></h1>
          </div>
</div>
 <div class="well well-lg">
    {{ blog }}
        <div class="well well-lg">
            <div class="panel panel-info">
                <div class="panel-heading">List of Comments and Replies:</div>
                    {% for comment in blog.comment_set.all %}
                         <ul>
                            <li>{{ comment.comment }}
                                <button class="a" onclick="func({{ forloop.counter }})">reply</button>
                                <form action="{% url 'add_reply' blog.id comment.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="reply" id="{{ forloop.counter }}" style="display:none;">
                                        <input type="text" class="form-control" name="reply">
                                        <input type="submit" value="reply"/></input>
                                    </div>
                                </form>
                            </li>
                            {% for reply in comment.reply_set.all %}
                                <ul>
                                    <li>{{ reply.reply }}</li>
                                </ul>
                             {% endfor %}
                         </ul>
                    {% endfor %}
                <form action="{% url 'add_comment' blog_id=blog.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="comment" id="comment" maxlength="500" placeholder="comment" class="form-control">
                    <input type="submit" value="add comment">
                </form>
            </div>
        </div>
 </div>